.header{
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    background-color: #eee;
    margin-right: 20%;
}

.header > *{
    padding: 20px;
}

.header a{  
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #111;
    transition: color 200ms;
}

a:hover{
    color: aqua;
}